<div class="tarjeta-consulta">
  <h1 class="titulo-ciudad">Clima en {{ data.ciudad }}</h1>
  {% for item in data.days_data %}
    <section class="tarjeta-dia">
      <h2 class="dia-fecha">Fecha: <time datetime="{{ item.fecha_iso }}">{{ item.dia }}</time></h2>
      
      <div class="info-general">
        <p><strong>Amanecer:</strong> <time>{{ item.sunrise }}</time></p>
        <p><strong>Atardecer:</strong> <time>{{ item.sunset }}</time></p>
      </div>

      <div class="tarjetas-horas">
        {% for hour in item.data_for_hours %}
          <article class="tarjeta-hora">
            <header class="hora-header">
              <p class="hora-marcador"><strong>Hora:</strong> {{ hour.datetime }}</p>
            </header>
            
            <div class="detalles-clima">
              <p><strong>Temperatura:</strong> <span class="valor">{{ hour.temp | round }}°F</span></p>
              <p><strong>Condiciones:</strong> {{ hour.conditions }}</p>
              <p><strong>Humedad:</strong> {{ hour.humedad }}%</p>
              <p><strong>Índice UV:</strong> {{ hour.indiceUV }}</p>
              <p><strong>Prob. lluvia:</strong> {{ hour.precipitacion_prob }}%</p>
              <p><strong>Sensión térmica:</strong> {{ hour.sensacion_termica }}°F</p>
              <p><strong>Viento:</strong> {{ hour.vel_vientos }} km/h</p>
              <p><strong>Ráfagas:</strong> {{ hour.vientos_raf }} km/h</p>
            </div>
          </article>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
</div>